files:
  "/etc/nginx/conf.d/default.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
        server {
          listen 80 default_server;
          listen <a href="https://forums.aws.amazon.com/">::</a>:80 default_server;
          server_name _ localhost;
          return 301 <a class="jive-link-external" href="https://$host$request_uri;">https://$host$request_uri;</a>
        }