# Sidekiq interaction and startup script
commands:
  create_post_dir:
    command: "mkdir -p /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/50_restart_sidekiq.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars

      EB_APP_DEPLOY_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)
      EB_APP_PID_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_pid_dir)
      EB_APP_USER=$(/opt/elasticbeanstalk/bin/get-config container -k app_user)
      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)

      . $EB_SUPPORT_DIR/envvars
      . $EB_SCRIPT_DIR/use-app-ruby.sh

      SIDEKIQ_CONFIG=$EB_APP_DEPLOY_DIR/config/sidekiq.yml

      SIDEKIQ_PID_01=$EB_APP_PID_DIR/sidekiq_01.pid
      SIDEKIQ_LOG_01=$EB_APP_DEPLOY_DIR/log/sidekiq_01.log

      SIDEKIQ_PID_02=$EB_APP_PID_DIR/sidekiq_02.pid
      SIDEKIQ_LOG_02=$EB_APP_DEPLOY_DIR/log/sidekiq_02.log

      SIDEKIQ_PID_03=$EB_APP_PID_DIR/sidekiq_03.pid
      SIDEKIQ_LOG_03=$EB_APP_DEPLOY_DIR/log/sidekiq_03.log

      cd $EB_APP_DEPLOY_DIR

      if [ -f $SIDEKIQ_PID_01 ]
      then
        su -s /bin/bash -c "kill -TERM `cat $SIDEKIQ_PID_01`" $EB_APP_USER
        su -s /bin/bash -c "rm -rf $SIDEKIQ_PID_01" $EB_APP_USER
      fi

      if [ -f $SIDEKIQ_PID_02 ]
      then
        su -s /bin/bash -c "kill -TERM `cat $SIDEKIQ_PID_02`" $EB_APP_USER
        su -s /bin/bash -c "rm -rf $SIDEKIQ_PID_02" $EB_APP_USER
      fi

      if [ -f $SIDEKIQ_PID_03 ]
      then
        su -s /bin/bash -c "kill -TERM `cat $SIDEKIQ_PID_03`" $EB_APP_USER
        su -s /bin/bash -c "rm -rf $SIDEKIQ_PID_03" $EB_APP_USER
      fi

      . /opt/elasticbeanstalk/support/envvars.d/sysenv

      sleep 10

      su -s /bin/bash -c "bundle exec sidekiq \
        -e $RACK_ENV \
        -P $SIDEKIQ_PID_01 \
        -C $SIDEKIQ_CONFIG \
        -L $SIDEKIQ_LOG_01 \
        -d" $EB_APP_USER

      su -s /bin/bash -c "bundle exec sidekiq \
        -e $RACK_ENV \
        -P $SIDEKIQ_PID_02 \
        -C $SIDEKIQ_CONFIG \
        -L $SIDEKIQ_LOG_02 \
        -d" $EB_APP_USER

      su -s /bin/bash -c "bundle exec sidekiq \
        -e $RACK_ENV \
        -P $SIDEKIQ_PID_03 \
        -C $SIDEKIQ_CONFIG \
        -L $SIDEKIQ_LOG_03 \
        -d" $EB_APP_USER

  "/opt/elasticbeanstalk/hooks/appdeploy/pre/03_mute_sidekiq.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars

      EB_APP_USER=$(/opt/elasticbeanstalk/bin/get-config container -k app_user)
      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)

      . $EB_SUPPORT_DIR/envvars
      . $EB_SCRIPT_DIR/use-app-ruby.sh

      SIDEKIQ_PID_01=$EB_APP_PID_DIR/sidekiq_01.pid
      if [ -f $SIDEKIQ_PID_01 ]
      then
        su -s /bin/bash -c "kill -USR1 `cat $SIDEKIQ_PID_01`" $EB_APP_USER
      fi

      SIDEKIQ_PID_02=$EB_APP_PID_DIR/sidekiq_02.pid
      if [ -f $SIDEKIQ_PID_02 ]
      then
        su -s /bin/bash -c "kill -USR1 `cat $SIDEKIQ_PID_02`" $EB_APP_USER
      fi

      SIDEKIQ_PID_03=$EB_APP_PID_DIR/sidekiq_03.pid
      if [ -f $SIDEKIQ_PID_03 ]
      then
        su -s /bin/bash -c "kill -USR1 `cat $SIDEKIQ_PID_03`" $EB_APP_USER
      fi
