.comment .right
  text-align: right
  margin-right: 15px

.comment--date
  color: #888

.chat-content
  .cui
    min-height: 120px
  .cui__list
    padding: 0
    margin: 0
    .cui__bubble
      padding: 0
      margin: 0.25em 0em 0.5em
      font-size: 1em
      word-wrap: break-word
      color: rgba(0, 0, 0, 0.87)
      line-height: 1.3
