meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
title Kriya

= csrf_meta_tags
/ = display_meta_tags site: 'Goomp', reverse: true
script src="https://checkout.stripe.com/checkout.js"
meta name="stripePublishableKey" content=Rails.application.secrets.stripe_key
meta property="og:title" content="Kriya is AI powered, on-demand workforce helping companies to work faster and better!"
meta property="og:description" content="Welcome to Kriya, we help your workforce with the departments of sales, marketing, engineering, product & PR"
meta property="og:image" content="https://res.cloudinary.com/dyhdmrsdc/image/upload/c_scale,w_500/v1474398617/Kriya-11-01_sn25uz.jpg"
meta property="title" content="Kriya is your company's back office to get work done for faster, cheaper and better!"
meta property="description" content="Welcome to Kriya, we help your workforce with the departments of sales, marketing, engineering, product & PR"
meta name="google-site-verification" content="XjJ_4qEKT6UvksZ1DxwW4BO6evXmW8qJi1Y-qFu2DPQ"
= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
