meta property="og:title" content="AI Powered, On-demand Workforce for Engineering, Sales, Marketing, Design and PR"
meta property="og:description" content="Welcome to Kriya, we help comapnies to get work done for cheaper faster and better by connecting to the top freelance talent"
meta property="og:image" content="https://res.cloudinary.com/dyhdmrsdc/image/upload/v1480291461/Kriya-01-white-bg_fs3yy1.png"
meta property="title" content="AI Powered, On-demand Workforce for Engineering, Sales, Marketing, Design and PR"
meta property="description" content="Welcome to Kriya, we help comapnies to get work done for cheaper faster and better by connecting to the top freelance talent"
