meta property="og:title" content="Your Instant Workforce"
meta property="og:description" content="Kriya AI is the freelance marketplace where teams instantly connect to the engineers, designers and marketers to get work done!"
meta property="og:image" content="https://res.cloudinary.com/dyhdmrsdc/image/upload/v1480291461/Kriya-01-white-bg_fs3yy1.png"
meta property="title" content="Your Instant Workforce - Connect with engineers, designers and marketers"
meta property="description" content="Kriya AI is the freelance marketplace where teams instantly connect to the engineers, designers and marketers to get work done!"
meta[name="viewport" content="width=device-width, initial-scale=1.0"]