<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body style="font-family: AvenirNextLTPro-Regular; font-size: 14px;">
    <%= yield %>
    <%= link_to 'Chat room', room_url(@room, user_email: @user.email, user_token: @user.authentication_token), style: "font-size: 12px; color: #888;" %>
  </body>
</html>
