<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body style="font-family: Avenir; font-size: 14px;">
    <%= yield %>
    <span style="font-size: 12px;">
    —
      <br>
    You can reply to this email or <%= link_to 'Chat on Kriya', room_url(@room, user_email: @user.email, user_token: @user.authentication_token), style: "color: #888;" %>
    </span>
  </body>
</html>
